.box {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  display: flex; /*자기 자식들을 가로 또는 세로로 배치하는 스타일*/
  flex-direction: column; /*flex가 필수있어야함 column: 세로, row: 가로*/
  /* gap 자식들 사이에 간격주기 */
  /* cross축울 어떻게 정렬할까요 */
  gap: 10px;

  justify-content: space-around;
  align-items: center;
}
.one {
  background-color: green;
}
.two {
  background-color: yellow;
}
.three {
  background-color: red;
}
.code {
  justify-content: strart;
  justify-content: center;
  justify-content: end;
  justify-content: space-around;
  justify-content: space-between;
  justify-content: space-between;
  align-items: start;
  align-items: center;
  align-items: end;
}
