.kakao {
  background-color: #fee500;
  width: 350px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 800;
  border-radius: 8px;
  margin-bottom: 5px;
  padding-left: 50px;
}
.apple {
  background-color: black;
  color: white;
  width: 350px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 800;
  border-radius: 8px;
  margin-bottom: 5px;
  padding-left: 50px;
}
.line {
  background-color: #06c755;
  color: white;
  width: 350px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 800;
  border-radius: 8px;
  padding-left: 50px;
}
