.container {
  display: flex;
  flex-direction: row;
}
.wrapper {
  display: flex;
  flex-direction: row;
}
.box {
  width: 100px;
  height: 100px;
}
.one {
  background-color: #1abc9c;
}
.two {
  background-color: #2ecc71;
}
.three {
  background-color: #3498db;
}
.four {
  background-color: #9b59b6;
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
  }
}
