.list {
  width: 100vw;
  background-color: black;
  height: 100vh;
}
.model2 {
  width: 100%;
  max-width: 1919px;
  margin: 0 auto;
}
a:hover {
  text-decoration: none;
}
.cm-select__placeholder {
  display: block;
  position: relative;
}
.t5 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
