.main {
  width: 100vw;
  margin-top: 50px;
  height: 100vh;
  background-image: url(car.jpg);
  background-size: cover;
  background-position: center;
}
.model {
  width: 100%;
  max-width: 1919px;
  margin: 0 auto;
}
.text {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  font-weight: normal;
  line-height: 1.0667;
  letter-spacing: -0.025em;
  color: #fff;
  word-break: keep-all;
  word-wrap: break-word;
  padding-left: 150px;
  font-family: "genesis-head-light", sans-serif;
}
.t1 {
  font-size: 20px;
  padding-bottom: 20px;
}
.t2 {
  font-size: 60px;
  padding-bottom: 20px;
}
.t3 {
  font-size: 20px;
  padding-bottom: 20px;
}
.t4 {
  position: relative;
  top: 500px;
  font-size: 15px;
  gap: 30px;
  display: flex;
  flex-direction: row;
  transition: transform 250ms ease-in-out;
}

.t4 > span:hover {
  transform-origin: 0% 50%;
}
