* {
  width: 300px;
  height: 100px;
  background-color: pink;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(39, 149, 242, 0.6194852941176471) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
.card {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(39, 149, 242, 0.6194852941176471) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  background-image: url(gym.jpg);
}
