/* 반응형 : pc버전, 테블릿 버전, 모바일 버전을 위한 CSS  */
/* .box {
  width: 500px;
  height: 500px;
  background-color: red;
}

@media screen and (max-width: 800px) {
  .box {
    background-color: skyblue;
  }
} */
.box {
  width: 500px;
  height: 500px;
  background-color: red;
}
@media screen and (max-width: 480px) {
  .box {
    width: 50px;
    height: 50px;
    background-color: blue;
  }
}
@media screen and (max-width: 769px) {
  .box {
    width: 100px;
    height: 100px;
    background-color: green;
  }
}
@media screen and (max-width: 1024px) {
  .box {
    width: 300px;
    height: 300px;
    background-color: yellow;
  }
}
