.main {
  @import url("https://static.toss.im/tps/main.css");
  @import url("https://static.toss.im/tps/others.css");
  font-family: "Toss Product Sans";
  width: 100vw;
  background-image: url(https://static.toss.im/assets/homepage/newtossim/new_main.png);
  background-size: cover;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.centeredBox {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  padding-top: 180px;
}

.title {
  font-size: 60px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.download {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.download > button {
  font-size: 20px;
  font-weight: 500px;
  background-color: rgba(0, 12, 30, 0.8);
  color: white;
  padding: 11px 22px;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  margin-top: 30px;
  transition: all 0.3s;
}
.download > button:hover {
  background-color: rgb(78, 89, 104);
}
.whiteBlur {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 150px;
  background: linear-gradient(
    180deg,
    white 0%,
    white 59px,
    rgba(255, 255, 255, 0) 100%
  );
}
