.box {
  border: 1px;
}
.a {
  width: 300px;
  height: 200px;
  border: 1px solid #1abc9c;
  background-color: #1abc9c;
}
.b {
  width: 300px;
  height: 200px;
  border: 1px solid #2ecc71;
  background-color: #2ecc71;
}
.c {
  width: 300px;
  height: 200px;
  border: 1px solid #3498db;
  background-color: #3498db;
}

.name {
  text-align: right;
  padding-top: 170px;
  padding-bottom: 10px;
  color: white;
}
