.box {
  border: 1px;
  display: flex;
  flex-direction: row;
}
.box2 {
  border: 1px;
  display: flex;
  flex-direction: row;
}
.box3 {
  border: 1px;
  display: flex;
  flex-direction: row;
}
.a {
  width: 300px;
  height: 200px;
  border: 1px solid #1abc9c;
  background-color: #1abc9c;
}
.b {
  width: 300px;
  height: 200px;
  border: 1px solid #2ecc71;
  background-color: #2ecc71;
}
.c {
  width: 300px;
  height: 200px;
  border: 1px solid #3498db;
  background-color: #3498db;
}
.d {
  width: 300px;
  height: 200px;
  border: 1px solid#16a085;
  background-color: #16a085;
}
.e {
  width: 300px;
  height: 200px;
  border: 1px solid #27ae60;
  background-color: #27ae60;
}
.f {
  width: 300px;
  height: 200px;
  border: 1px solid #2980b9;
  background-color: #2980b9;
}
.g {
  width: 300px;
  height: 200px;
  border: 1px solid #f1c40f;
  background-color: #f1c40f;
}
.h {
  width: 300px;
  height: 200px;
  border: 1px solid #e67e22;
  background-color: #e67e22;
}
.i {
  width: 300px;
  height: 200px;
  border: 1px solid #e74c3c;
  background-color: #e74c3c;
}
.name {
  text-align: right;
  padding-top: 170px;
  padding-bottom: 5px;
  color: white;
}
