.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 20px 18px 20px 18px;
  width: fit-content;
}
.box {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.icon {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  width: 90px;
}
