.palettBox {
  padding: 30px 14px 10px 14px;
  border-radius: 6px;
}
.hex {
  text-transform: uppercase;
}

.one {
  background-color: #fff0f0;
  border: 1px solid #fff0f0;
}

.two {
  background-color: #ffdddd;
  border: 1px solid #ffdddd;
}
.three {
  background-color: #ffc0c0;
  border: 1px solid #ffc0c0;
}

.four {
  background-color: #ff9494;
  border: 1px solid #ff9494;
}
