.box {
  border: 1px;
  width: 1000px;
  height: 100px;
}
.rev {
  border-radius: 20px;
  border: 1px solid #f4f4f4;
  margin-right: 10px;
  height: 30px;
  width: 110px;
  cursor: pointer;
  background-color: #ffffff;
}
.a {
  border-radius: 20px;
  border: 1px solid #f4f4f4;
  margin-right: 10px;
  height: 30px;
  width: 60px;
  cursor: pointer;
  background-color: #ffffff;
}
.b {
  border-radius: 20px;
  border: 1px solid #f4f4f4;
  margin-right: 10px;
  height: 30px;
  width: 100px;
  cursor: pointer;
  background-color: #ffffff;
}
.c {
  border-radius: 20px;
  border: 1px solid #f4f4f4;
  margin-right: 10px;
  height: 30px;
  width: 80px;
  cursor: pointer;
  background-color: #ffffff;
}
.all {
  background-color: skyblue;
  color: white;
}
