.box {
  border: 1px solid gray;
  width: 600px;
  height: 200px;
  align-content: center;
}
button {
  border-radius: 5px;
  background-color: gainsboro;
  width: 100px;
  height: 50px;
  padding: 3px;
  margin-left: 12px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid #f4f4f4;
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
  /* line-height: 20; 행간*/
  /* text-transform: uppercase; 글모양 바꾸기*/
  /* word-spacing: 20px; 자간*/
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
